.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
    margin-right: 10px;
    margin-top: 20px;
}

.a-card.bg{
    position: absolute;
    top: 70px;
    left: 150px;
    background-color: #333;
}

.a-card{
    width: 60%;
    height: 80vh;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title{
    font-weight: 800;
    margin-right: 100px;
}

.a-sub{
    margin: 20px 0px;
    font-size: px;
}

.a-desc{
    font-weight: 300;
    font-size: 27px;
    margin-bottom: 50px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 1290px) {
.a {
flex-direction: column;
height: auto;
padding: 16px;
align-items: center; /* Add align-items property to center items vertically for smaller screens */
}

.a-left {
order: 2;
margin-bottom: 20px;
align-self: center; /* Add align-self property to center item horizontally for smaller screens */
}

.a-card.bg {
display: none;
}

.a-card {
width: 100%;
height: auto;
border-radius: 20px;
}

.a-title {
font-size: 24px;
text-align: center; /* Add text-align property to center text horizontally for smaller screens */
text-align: center;
margin-right: 10px;
margin-left: 10px;
}

.a-desc {
font-size: 18px;
text-align: left; /* Add text-align property to center text horizontally for smaller screens */
text-align: center;
margin-right: 10px;
margin-left: 10px;
}
}