h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto; /* Add margin: 0 auto to center the contact-page element */
  max-width: 100%; /* Add max-width to ensure the element doesn't overflow the page */
  box-sizing: border-box; /* Add box-sizing: border-box to include padding and border in the max-width */
}

.contact-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto; /* Add margin: 0 auto to center the contact-form element */
  box-sizing: border-box; /* Add box-sizing: border-box to include padding and border in the max-width */
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 24px); /* Update width to use calc() to subtract the total horizontal padding (12px on each side) from 100% */
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #212121;
  border-bottom: 1px solid #777777;
  background-color: #f0f0f0;
  color: #212121;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box; /* Add box-sizing: border-box to include padding and border in the width calculation */
}

.contact-form textarea {
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #212121;
}

.contact-form button[type="submit"] {
  display: block;
  width: 100%; /* Update width to 100% for smaller screens */
  max-width: calc(100% - 24px); /* Update max-width to use calc() to subtract the total horizontal padding (12px on each side) from 100% */
  margin-top: 16px; /* Add margin-top to create space between the inputs and the button */
  padding: 12px;
  background-color: #212121;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Add box-sizing: border-box to include padding and border in the width calculation */
}

.contact-form button[type="submit"]:hover {
  background-color: #444444;
}

@media (max-width: 768px) {
  .contact-page {
    padding: 16px 8px; /* Reduce padding on smaller screens */
  }

  .contact-form {
    max-width: 100%; /* Set max-width to 100% for smaller screens */
  }

  .contact-form input,
  .contact-form textarea {
    margin-bottom: 12px; /* Reduce margin-bottom on smaller screens */
  }

  .contact-form button[type="submit"] {
    max-width: none; /* Remove max-width on smaller screens */
  }
}