
.i {
	display: flex;
	height: 100vh;
}

.i-left {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.i-right {
	flex: 1;
	position: relative;
}

.i-left-wrapper {
	padding: 100px;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.i-desc {
	font-size: 30px;
	color: #faf6f6;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}

.i-intro {
	font-size: 24px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 0;
	color: #f7f4f4;
	text-align: center;
}

.i-name {
	font-size: 60px;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 20px;
	justify-content: center;
	color: #f8f4f4;
	text-align: center;
}

.i-title {
	height: 50px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.i-title-wrapper {
	height: 100%;
	color: #f7f4f4;
	animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
	0% {
		transform: translateY(0%);
	}
	25% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(-100%);
	}
	75% {
		transform: translateY(-150%);
	}
	100% {
		transform: translateY(-200%);
	}
}

.i-title-item {
	height: 50px;
	font-size: 30px;
	font-weight: bold;
	color: rgba(238, 231, 231, 0.842);
	display: flex;
	align-items: center;
	text-align: center;
}

.i-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: circle(40%);
	position: absolute;
}

.i-bg {
	clip-path: polygon(14% 14%, 100% 0%, 86% 85%, 0 100%);
	background-color: rgba(65, 65, 66, 0.192);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

@media (max-width: 768px) {
	.i {
		display: flex;
		flex-direction: column;
		height: auto;
		align-items: center;
		justify-content: center;
		padding: 16px;
		overflow-x: hidden;
	}

	.i-left {
		padding: 30px;
		margin-top: 75px;
	}

	.i-left-wrapper {
		height: auto;
		margin-top: 40px;
		align-items: center;
	}

	.i-desc {
		font-size: 18px;
		text-align: center;
		margin-top: 50px;
	}

	.i-intro {
		font-size: 18px;
		text-align: center;
	}

	.i-name {
		font-size: 40px;
		text-align: center;
	}

	.i-title {
		height: auto;
		overflow: visible;
	}

	.i-title-wrapper {
		height: auto;
		animation: none;
	}

	.i-title-item {
		height: auto;
		font-size: 24px;
		text-align: center;
	}

	.i-img {
		clip-path: none;
		position: relative;
		clip-path: circle(40%);
	}

	.i-bg {
		clip-path: none;
		position: relative;
	}
}

body {
  background-color: black;
  background-image: url('../img/stardust.png');
  animation: stars 30s linear infinite;
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    /* the size of the background image */
    background-position: 798px -798px;
  }
}
