
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: #f7f3f3;
  margin-top: 80px;
  top: 0;
  font-family: 'Revalia', sans-serif;
	-webkit-text-stroke: 1.5px #fff;
	-webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 80px;
}

.project-card {
  width: 300px;
  background-color: rgba(19, 19, 20, 0.753);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: rgba(243, 234, 234, 0.827);
}

.project-card:hover {
  transform: translateY(-4px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}

.project-card h3 {
  margin: 0;
  font-size: 20px;
}

.project-card p {
  font-size: 18px;
  color: rgba(243, 234, 234, 0.827);
  margin-bottom: 16px;
}

.project-card a {
  display: block;
  font-size: 18px;
  color: rgba(177, 165, 250, 0.753);
  margin-bottom: 8px;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .project-cards {
    gap: 8px;
    margin-bottom: 30px;
  }

  .project-card {
    width: 80%;
  }

  .project-card img {
    height: 150px;
  }

  .project-card h3 {
    font-size: 18px;
  }

  .project-card p,
  .project-card a {
    font-size: 16px;
  }
}