.footer-container {
  background-color: rgba(19, 19, 20, 0);
  color: #fff;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  
}

/* Set footer text styles */
.footer-text {
  color: rgba(250, 241, 241, 0.89);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
}

/* Update font size for smaller screens */
@media screen and (max-width: 768px) {
  .footer-text {
    font-size: 14px;
  }
}